﻿@{
    System.Data.DataTable dt = (System.Data.DataTable)Session["CategoriaLista"];
}

<div class="table table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr style="color: white; background-color:#1f8bb1; font: bold">
                <th class="text-left">Código Categoria</th>
                <th class="text-left">Descrição Categoria</th>
                <th class="text-left">Data Cadastro</th>
            </tr>
        </thead>

        <tbody id="resultadoTabelaCat">

            @foreach (System.Data.DataRow row in dt.Rows)
            {
                //DataRow row in dt.Rows
                <tr style="line-height:25px;">
                    <td>@row["categoriaId"].ToString()</td>
                    <td>@row["categoriaDescricao"].ToString()</td>
                    <td>@row["categoriaDtCadastro"].ToString()</td>
                </tr>
            }

        </tbody>
    </table>
</div>
