﻿@model Agenda.Models.Categoria

@{
    ViewBag.Title = "Cadastrar Categoria";
}

<h2></h2>

@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function () {

            alert('@ViewBag.Message');

        });

    </script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Cadastrar Categoria</h2>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.categoriaDescricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.categoriaDescricao, new { @class = "form-control", required = "required", title = "Campo Obrigatório" })
                @Html.ValidationMessageFor(model => model.categoriaDescricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoriaDtCadastro, "Data", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.categoriaDtCadastro, new { @type = "DATE", @class = "form-control", required = "required", title = "Campo Obrigatório" })
                @Html.ValidationMessageFor(model => model.categoriaDtCadastro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inserir" class="btn btn-primary" onclick="PersquisarCategoria()" />
            </div>
        </div>
    </div>
}
<br />

<div id="_tableLista">

</div>

<div>
    @*@Html.ActionLink("Voltar", "Inserir")*@
    @Html.ActionLink("Voltar", "Index", "Home", null, null)
</div>

<script>
    PersquisarCategoria();
    function PersquisarCategoria() {
        $.ajax({
            url: '@Url.Action("_Buscar", "Categoria")',
            data: {},
            dataType: "text",
            type: 'POST',
            async: true,
            success: function (data) {
                $('#_tableLista').html(data);
            }
        });

    }
</script>


