﻿@{
    System.Data.DataTable dt = (System.Data.DataTable)Session["AgendaLista"];
}

<div class="table table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr style="color: white; background-color:#1f8bb1; font: bold">
                <th class="text-left">Código Agendamento</th>
                <th class="text-left">Título Agendamento</th>
                <th class="text-left">Descrição Agendamento</th>
                <th class="text-left">Data Agendamento</th>
                <th class="text-left">Categoria</th>
                <th class="text-left">Excluir Agendamento</th>
            </tr>
        </thead>

        <tbody id="resultadoTabela">

            @foreach (System.Data.DataRow row in dt.Rows)
            {
               
                <tr style="line-height:25px;">
                    <td>@row["agendaId"].ToString()</td>
                    <td>@row["agendaTitulo"].ToString()</td>
                    <td>@row["agendaDescricao"].ToString()</td>
                    <td>@row["agendaData"].ToString()</td>
                    <td>@row["categoriaDescricao"].ToString()</td>
                    <td><button class="btn btn-danger" title="Excluir agendamento" onclick="Deletar(@row["agendaId"])">Deletar</button></td>
                </tr>
            }

        </tbody>
    </table>
</div>