﻿@model Agenda.Models.ListaAgenda

@{
    ViewBag.Title = "Cadastrar Agendamento";
}

<h2><strong>Cadastrar um Novo Agendamento</strong></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.agendaTitulo, "Título", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.agendaTitulo, new { @class = "form-control", required = "required", title = "Campo Obrigatório" })
                @Html.ValidationMessageFor(model => model.agendaTitulo, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agendaDescricao, "Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.agendaDescricao, new { @class = "form-control", required = "required", title = "Campo Obrigatório" })
                @Html.ValidationMessageFor(model => model.agendaDescricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.agendaData, "Data", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.agendaData, new { @type = "datetime-local", @class = "form-control", required = "required", title = "Campo Obrigatório" })
                @Html.ValidationMessageFor(model => model.agendaData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @{
    System.Data.DataTable dt = ViewBag.Combo;

    var itens = new List<Agenda.Models.Categoria>();
    itens.Insert(0, null);
    foreach (System.Data.DataRow row in dt.Rows)
    {
        var item = new Agenda.Models.Categoria { categoriaID = Convert.ToInt32(@row["categoriaId"]), categoriaDescricao = @row["categoriaDescricao"].ToString() };
        itens.Add(item);
    };

    @Html.LabelFor(model => model.categoria, "Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                
                    @Html.DropDownList("Categoria", new SelectList(itens, "categoriaID", "categoriaDescricao"), new { @class = "form-control", required = "required", title = "Campo Obrigatório" })
                    @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
               
            }

        </div>

        <div class="form-group jumboMargin">
            <div class="col-md-offset-2 col-md-10">
                <input class="btn btn-primary form-group" type="submit" value="Inserir" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

