﻿@{
    ViewBag.Title = "Principal";
}

<div class="row jumboMargin">
    <div class="jumbotron jumboText">
        <img src="~/Images/evento.png" class="img-responsive" />
    </div>
</div>
@*<div class="row" style="margin-left:35%;margin-right:35%; margin-bottom:0;margin-top:0">
    <img src="~/Images/agenda.png" width="350" height="350" class="img-responsive" />
</div>*@