﻿@{
    ViewBag.Title = "Lista de Agendamentos Realizados";
}

<h2><strong>Relação de Agendamentos Cadastrados</strong></h2>
<hr />
<form class="form-horizontal">

    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">
            <label for="cbPesquisa">&nbsp</label>
            <select id="cbPesquisa" class="form-control">
                <option>SELECIONE</option>
                <option>PASSADO</option>
                <option>HOJE</option>
                <option>FUTURO</option>
            </select>
        </div>

        <div class="col-lg-1 col-md-1">
            <label for="btnPesquisar">&nbsp</label>
            <button id="btnPesquisar" type="button" class="btn btn-primary form-control" title="Botão de Pesquisa" onclick="PesquisaVndDia();">Buscar</button>
        </div>
    </div>
</form>
<br />

<div id="_tableLista">

</div>

<script>

    //chamo a função que passa os valores via JS e preenche a tabela quando abre a pagina
    PesquisaVndDia();
    function PesquisaVndDia() {

        var Parametro = {};
        Parametro.evento = $('#cbPesquisa option:selected').text();
        // Parametro.evento = $('#cbPesquisa').find(":selected").text();
        var par = JSON.stringify(Parametro)

        // preencho a grid Vendas Dia
        $.ajax({
            url: '@Url.Action("_Listar", "Home")',
            dataType: 'text',
            type: 'POST',
            data: { agendaListar: par },
            async: true,
            success: function (data) {
                $('#_tableLista').html(data);
            }
        });
    }

    function Deletar(Id) {
        $.ajax({
            url: '@Url.Action("Deletar","Home")',
            data: { Id: Id },
            dataType: "text",
            type: 'POST',
            async: true,
            success: function (data) {
                alert(data);
                PesquisaVndDia();
                //renderizar a partial view de novo

            }

        });
    }

</script>
